.stars {
  width: 100px;
  margin: 0;
  position: relative;
}
.stars-after {
  left: 0;
  top: 0;
  position: absolute;
  background-image: url('./img/star.png');
  background-size: 20px;
  margin: 0 auto;
  height: 19px;
  content: '';
}
.stars-before {
  filter: grayscale(1);
  left: 0;
  top: 0;
  position: absolute;
  background-image: url('./img/star.png');
  background-size: 20px;
  width: 100%;
  margin: 0 auto;
  height: 19px;
  content: '';
}